/* Styles généraux */

:root {
    --primary : #F16822;
    --bg-color-card : #00000029;
    --font-color-main : #333333;
    --font-color-secondary : #EEEEEE;
    --font-color-logo : #707070;
    --font-color-footer : #CCCCCC;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color-main);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #FFFFFF;
}

/* Layout */

.container {
	width: 100%;
	margin: 0 auto;
    padding: 0 1.5rem;
}

.container-narrow {
    width: 100%;
    margin: 0 auto;
}

.container-grid {
    display: grid;
}

/* from 576px */
@media screen and (min-width: 36em) {
    .container-narrow {
        padding: 0 1.5rem;
    }
}
  
/* from 768px */
@media screen and (min-width: 48em) {
    .container {
        max-width: 71rem;
    }
}
  
/* from 992px */
@media screen and (min-width: 62em) {
    .container {
        max-width: 101rem;
    }
}
  
/* from 1200px */
@media screen and (min-width: 75em) {
    .container {
        max-width: 131rem;
    }
    .container-narrow {
        max-width: 108rem;
    }
}

/* Components */

.title-decoration {
    display: flex;
    margin-bottom: 3.2rem;
}

.decoration:nth-child(1){
    background-color: var(--primary);
}

.decoration {
    display: inline-flex;
    margin: 0 0.5rem;
    min-height: 1rem;
    min-width: 1rem;
    background-color: var(--font-color-main); 
}

/* Header */
.main-header{
    position: sticky;
    z-index: 100;
    width: 100%;
    background-color:#ffffff;
    padding: 3.5rem 0;
    top: 0;
    left: 0;
}

.main-header .container {
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo {
	width: 7rem;
	height: 4.8rem;
	background-image: url(../img/logos/LOGO.svg);
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}

.brand {
    display: none;
    padding: 0 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: var(--font-color-logo);
    font-size: 2rem;
}

.brand span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

/* from 576px */
@media screen and (min-width: 36em) {
    .brand {
        display: block;
    }
}

/* from 768px */
@media screen and (min-width: 48em) {
    .main-header .container {
        justify-content: center;
    }
}

/* from 992px */
@media screen and (min-width: 62em) {
    .main-header .container {
        justify-content: space-between;
    }
}

/* Navigation */
[hidden] {
	display: block;
    visibility: hidden;
}

.toggle-menu {
	background-color: transparent;
	padding: 1.5rem;
	color: var(--font-color-main);
}

.menu {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #ffffff;
    text-align: center;
    transform: translateX(-100%);
	transition: .5s;
	/* transition: transform .5s ease-out, visibility .001s .5s; */
}

.menu:not([hidden]) {
	transform: translateX(0);
	/* transition: visibility .001s, transform .5s .001s ease-in; */
}


.menu-link.active,
.menu-link:hover,
.menu-link:focus {
    background-color: var(--primary);
    color: #FFFFFF;
}

.menu-link{
    display: block;
    padding: 1.5rem 2rem ;
    text-decoration: none;
    color: var(--font-color-main);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: all .3s ease-in-out;
}

/* from 768px */
@media screen and (min-width: 48rem) {
    .toggle-menu {
        display: none;
    }

    .menu {
       display: flex;
       position: static;
       visibility: visible;
       transform: translateX(0);
       /* transition: none; */
    }
}

/* Home */

.home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/images/slider-1.jpg);
    background-size: cover;
	background-position: center;
    text-align: center;
    min-height: calc(100vh - 12.1rem);
}

@media (min-resolution: 144dpi) {
	.home {
		background-image: url(../img/images/slider-1@2x.jpg);
	}
}

.home .container {
    display: flex;
}

.arrow-left,
.arrow-right {
    transition: all .3s ease-in-out;
}

.arrow-right:focus,
.arrow-right:hover,
.arrow-left:focus,
.arrow-left:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 1em 0.75rem rgba(0, 0, 0, 0.527));
}

.home .container-narrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
	max-width: 107.8rem;
}

.home h1{
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 5rem;
}

.home p {
    display: none;
    font-size: 3.2rem;
    padding: 0 7rem;
}

.home-indicators-list{
    display: flex;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home-indicator-item{
    margin: 0 1rem;
    display: inline-flex;
}

.home-indicator.active,
.home-indicator:focus,
.home-indicator:hover {
    background-color: var(--primary);
    transform: scale(1.1);
    filter: drop-shadow(0 1em 0.75rem rgba(0, 0, 0, 0.527));
}

.home-indicator {
    min-height: 1rem;
    min-width: 1rem;
    background-color: var(--font-color-main);
    transition: all .3s ease-in-out;
}

/* from 576px */
@media screen and (min-width: 36em) {
    .home h1 {
        font-size: 6.4rem;
    }
}

/* from 768px */
@media screen and (min-width: 48em) {
    .home{
        min-height: calc(100vh - 17.8rem);
    }
}

/* from 992px */
@media screen and (min-width: 62em) {
    .home{
        min-height: calc(100vh - 12.7rem);
    }

    .home p {
        display: block;
    }
}

/* Services */

.services {
    text-align: center;
    padding-top: 17rem;
    padding-bottom: 17rem;
}

.services .container-narrow {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.services .container-grid {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
}

.services h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.services-text {
    font-size: 2.4rem;
    margin-bottom: 5rem;
}

.service-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
}

.service-card figure{
    display: grid;
    height: 12.5rem;
    width: 12.5rem;
    background-color: var(--font-color-secondary);
    border-radius: 50%;
    place-items: center;
    margin-bottom: 2.4rem;
}

.services h3{
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

/* from 768px */
@media screen and (min-width: 48em) {
    .services .container-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* from 992px */
@media screen and (min-width: 62em) {
    .services .container-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* About  */

.about {
    background-image: url(../img/images/bg_about.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 17rem;
}

@media (min-resolution: 144dpi) {
	.about {
		background-image: url(../img/images/bg_about@2x.jpg);
	}
}

.about .container-narrow {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
  
.about h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1.2rem;
}

.about .decoration:nth-child(2){
    background-color: var(--font-color-secondary);
}

.about p {
    font-size: 2.4rem;
    color: var(--font-color-secondary);
    margin-bottom: 17rem;
}

.about img {
    margin: 0 auto
}

/* Blog */

.blog {
    text-align: center;
    background-color: #F9F9F9;
    padding-top: 17rem;
    padding-bottom: 18.3rem;
}

.blog .container-narrow {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.blog-title {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--font-color-main);
    margin-bottom: 1.2rem;
}

.blog-text {
    margin-bottom: 11.5rem;
    font-size: 2.4rem;
}

.blog .container-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
}

.blog-card {
    box-shadow: 0px 3px 6px #00000029;
    transition: all .3s ease-in-out;
    color: var(--font-color-main);
    text-decoration: none;
    padding-top: 2.5rem;
}

.blog-card img {
    margin: 0 auto; 
    margin-bottom: 8rem;
}

.blog-card:hover,
.blog-card:focus {
    transform: scale(1.05);
    box-shadow: 0px 6px 6px #00000029;
    filter: drop-shadow(0 1em 0.75rem rgba(0, 0, 0, 0.527));
}

.blog-card h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 2.7rem;
}

.blog-card h3 + * {
    margin-top: auto;
}

.blog-card p {
    margin: 0 4.5rem;
    margin-bottom: 4.5rem;
}

/* from 768px */
@media screen and (min-width: 48em) {
    .blog .container-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* from 1200px */
@media screen and (min-width: 75em) {
    .blog .container-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10rem;
        column-gap: 4rem;
    }
}

/* Facts */
.facts {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    padding-top: 17rem;
    padding-bottom: 17rem;
}

@media (min-resolution: 144dpi) {
	.facts {
		background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/images/lauren-mancke-aOC7TSLb1o8-unsplash@2x.jpg);
	}
}

.facts .container-narrow {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.facts h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.facts .title-decoration {
    margin-bottom: 5rem;
}

.facts .facts-list{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;

}

.fact-item {
    color: var(--primary);
    font-weight: 700;
    font-size: 6.4rem;
}

.fact-item span{
    display: block;
    color: var(--font-color-main);
    font-size: 2.4rem;
}

/* from 576px */
@media screen and (min-width: 36em) {
    .facts .facts-list{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}

/* from 992px */
@media screen and (min-width: 62em) {
    .facts .facts-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* from 1200px */
@media screen and (min-width: 75em) {
    .facts .facts-list{
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10rem;
    }
}

/* Testimonials */

.testimonials {
    background-image: url(../img/images/rect.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color-secondary);
    padding-top: 17rem;
    padding-bottom: 21rem;
}

.testimonials .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.testimonials img {
    border-radius: 50%;
    margin-bottom: 4rem;
}
.testimonial-text {
    text-align: center;
}

.testimonial-text h2 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.testimonial-text p {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.testimonials-indicators-list{
    display: flex;
    position: absolute;
    bottom: -8rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials-indicator-item{
    margin: 0 1rem;
    display: inline-flex;
}

.testimonials-indicator.active,
.testimonials-indicator:focus,
.testimonials-indicator:hover {
    background-color: var(--font-color-secondary);
    transform: scale(1.1);
    filter: drop-shadow(0 1em 0.75rem rgba(0, 0, 0, 0.527));
}

.testimonials-indicator {
    min-height: 1rem;
    min-width: 1rem;
    background-color: var(--font-color-main);
    transition: all .3s ease-in-out;
}

/* from 992px */
@media screen and (min-width: 62em) {
    .testimonials .container {
        display: flex;
        flex-direction: row;
    }

    .testimonials img {
        border-radius: 50%;
        margin-right: 5rem;
        margin-bottom: 0;
    }

    .testimonial-text {
        text-align: start;
    }
}

/* Footer */

footer {
    background-color: var(--font-color-main);
    color: var(--font-color-footer);
    padding-top: 11rem;
    padding-bottom: 3.4rem;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr;
}

.container-posts,
.container-comments,
.container-tags {
    margin-bottom: 3rem;
}

footer h4{
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

footer a {
    color: var(--font-color-footer);
    text-decoration: none;  
    font-size: 2rem;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;      
}

footer a:hover,
footer a:focus {
    transform: scale(1.1);
    filter: drop-shadow(0 1em 0.75rem rgba(0, 0, 0, 0.527));
}

.post-link::before,
.comment-link::before {
    content: "";
    display: inline-flex;
    height: 0.8rem;
    width: 1rem;
    margin-right: 1.2rem;
    background-image: url(../img/pictograms/angle-double-right.svg);
}

.tag-item {
    display: inline-flex;
    background-color: #444444;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
}

.tag-item a {
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
}

.contact-list {
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;
}

.contact-item {
    display: inline-flex;
    align-items: flex-start;
}

.contact-item:not(:last-child){
    margin-bottom: 2rem;
}

.contact-item img {
    margin-right: 1.2rem;
}

.separator {
    grid-column: 1 / -1;
    height: 0.1rem;
    background-color: #777777;
    margin-top: 13.7rem;
    margin-bottom: 3.5rem;
    width: 100%;
}

.social-list {
    display: flex;
    justify-self: center;
}

.social-item:not(:first-child) {
    margin-left: 2.5rem;
}

.copyright {
    color: #777777;
    justify-self: center;
}

/* from 576px */
@media screen and (min-width: 36em) {
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

    .container-tags {
        margin-bottom: 0;
    }
    
}

/* from 768px */
@media screen and (min-width: 48em) {

    .copyright {
    justify-self: start;
    }

    .social-list {
        grid-column: 2 / 3;
        justify-self: end;
    }

}

/* from 1200px */
@media screen and (min-width: 75em) {
    footer .container{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .container-posts,
    .container-comments,
    .container-tags {
        margin-bottom: 0;
    }

    .social-list {
        grid-column: 4 / 5;
        justify-self: end;
    }
}
